@import "@/shared/styles/_variables.scss";

.item-icon {
    animation: roll 2s;
    margin-right: 5px;
}

.wrapper-arrow-item, .wrapper-arrow-item-active-always {
    display: flex;

    p {
        font-family: $font-family-secondary;
    }

    p:hover {
        color: $font-color-link-hover;
    }
}

.wrapper-arrow-item {
    color: $font-color-non-active;

    p {
        cursor: pointer;
    }
}

.wrapper-arrow-item.active {
    color: $font-color-active;
}

@media screen and (min-width: $breakpoint-s) {
    .wrapper-arrow-item, .wrapper-arrow-item-active-always {
        p {
            font-size: $font-size-s;
        }
    }
    
}
