@import "@/common/styles/_variables.scss";

.wrapper-contacts-page {
    min-height: 100%;
    margin-bottom: 100%;
}

@media screen and (min-width: $breakpoint-s) {
    .wrapper-contacts-page {
        margin-bottom: 100%;
    }
    
}

@media screen and (min-width: $breakpoint-m) {
    .wrapper-contacts-page {
        margin-bottom: 45%;
    }
    
}
