@import "@/shared/styles/_variables.scss";

.wrapper-menu-items {
    padding: 25px;
}

@media screen and (min-width: $breakpoint-s) {
    .wrapper-menu-items {
        display: grid;
        grid-template-columns: 40% 60%;
        padding: 0;
    }

    .item-titles {
        margin-left: auto;
        margin-right: auto;
    }

    .item-content {
        padding-right: 10%;
    }

}

@media screen and (min-width: $breakpoint-m) {
    .item-content {
        padding-right: 15%;
    }
}
