@import "@/common/styles/_variables.scss";

.wrapper-link {
    display: flex;
    align-items: flex-start;
    a {
        text-decoration: none;
        color: $font-color-active;
        font-size: $font-size-xs;
    }

    a:hover {
        color: $font-color-non-active;
    }
}

@media screen and (min-width: $breakpoint-s) {
    .wrapper-link {
        font-size: $font-size-xs;

        a {
            font-size: $font-size-s;
        }
    }
}