$text_color_1: white;
$text_color_2: dodgerblue;
$text_color_3: rgb(215, 93, 0);
$text_color_4: #60b9e2;
$text_color_5: #f9d03a;
$font-family: 'Lucida Console', monospace;
$dark_mode_1: #1b1b1b;
$dark_mode_2: #252525;
$hover: #4e4e4e;

@mixin dropdown-button {
    color: $text_color_1;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: medium;
    background-color: $dark_mode_1;
    font-family: $font-family;
    padding: 10px;
    width: 100%;
}


// General for all pages

body {
    margin: 0;
    background-color: $dark_mode_1;
    font-family: $font-family;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.link {
    text-decoration: none;
    cursor: pointer;
    color: $text_color_2;
}

footer {
    background-color: $dark_mode_1;
    color: $text_color_1;
    font-family: $font-family;
    padding: 10px;
    text-align: center;
    font-size: small;
    border-top: 2px solid black;
    z-index: 2;
}


// Right-side content (main content of the page)

.content {
    background-color: $dark_mode_2;
    color: $text_color_1;
    padding: 10px;
    font-size: small;
    line-height: 150%;
}

.content h1 {
    color: $text_color_5;
    line-height: 150%;
}

.content img {
    width: 90%;
    height: auto;
}

.content a {
    color: $text_color_2;
}

.content ul {
    // Make the lists float on the left side with no indent
    padding-left: 0;
    list-style-position: inside;
}

.content li {
    color: $text_color_4;
    list-style-type: none;
}

.content li:before {
    content: "- "; // Dash as a list style type
}

.content-container {
    min-height: 82vh;
    background-color: $dark_mode_2;
}


// Dropdown menu on the left

#active {
    background-color: $hover;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: $dark_mode_1;
}

.dropdown-btn {
    @include dropdown-button;
    margin-top: 20px;
    font-weight: bold;
}

.dropdown-project-btn {
    @include dropdown-button;
}

.dropdown-btn i, .dropdown-project-btn i {
    margin-right: 5px;
}

.dropdown-content, .dropdown-projects-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: $dark_mode_1;
    width: 100%;
}

.dropdown-content a:active {
    background-color: $hover;
}

.dropdown-item, .project-item {
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $text_color_1;
}

.dropdown-item i {
    margin-right: 5px;
}

.dropdown-item a, .project-item a {
    text-decoration: none;
    color: $text_color_1;
}

.project-item i {
    color: $text_color_3;
    margin-right: 5px;
}

.project-item {
    white-space: nowrap;
}

.project-item:hover, 
.dropdown-item:hover, 
.dropdown-btn:hover, 
.dropdown-project-btn:hover {
    background-color: $hover;
}


// Contacts

.contact-container i {
    margin-bottom: 20px;
    color: $text_color_1;
    font-size: small;
}

.contact-container {
    margin-top: 30px;
}

.contact-info {
    font-family: $font-family;
    margin-left: 10px;
}

.contact-info a:hover {
    cursor: pointer;
}

.contact-info:nth-child(-n + 3) {
    color: $text_color_3;
}



// Projects

#game-project h3, #hockey-project h3 {
    color: $text_color_3;
}


@media screen and (min-width: 800px) {

    // General for all pages

    footer {
        padding: 40px;
    }
    

    // Right-side content (main content of the page)

    .content-container {
        display: grid;
        grid-template-columns: 20% 80%;
        flex-grow: 1;
    }

    .content {
        padding: 60px;
        border-left: 2px solid black;
        line-height: 200%;
    }


    // Dropdown menu on the left

    .dropdown-content {
        display: block;
    }


    // Contacts

    .contact-info {
        font-size: medium;
    }

    .contact-container i {
        font-size: 2em;
        margin-bottom: 30px;
    }

    // images in mobile app project
    
    .img-container {
        display: grid;
        grid-template-columns: auto auto;
    }

}