$heading-font: 'Times New Roman', Times, serif;
$paragraph-font: Arial, Helvetica, sans-serif;
$heading-color: white;
$primary-color1: rgb(39, 69, 47);
$primary-color2: green;
$primary-color3: black;
$border-color: black;

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes roll {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

@keyframes slide {
    0% { transform: translate(-100px); opacity: 0; }
    100% { transform: translate(0); opacity: 1; }
}

html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: $primary-color1;
    color: $heading-color;
}


// * Navbar

// .navbar-list {

// }


// * Homepage

.homepage {
    font-family: $heading-font;
    color: $heading-color;
    height: 90vh;
    padding: 20px;
}

.home-container ul li a {
    text-decoration: none;
    color: $heading-color;
}

.home-container ul li a:hover {
    color: pink;
}

.home-container ul {
    list-style-type: none;
}

.home-container ul li {
    animation: fade 3s;
    margin-bottom: 15px;
}

.home-container div h1 {
    justify-content: center;
    color: $heading-color;
}

.home-container div h1:first-child {
    font-size: 3.8em;
    margin: 0;
}

.home-container div h1:last-child {
    margin-top: 0;
    font-size: 2em;
}

.home-container {
    height: 100%;
    display: grid;
    grid-template-rows: 40% 60%;
}

.home-container div:first-child {
    align-self: center;
    justify-self: center;
    animation: slide 3s;
}

.fa-angle-right {
    animation: roll 2s;
}

// * About me

.about-me {
    height: 95vh;
}

.about-me-container {
    display: grid;
    grid-template-rows: auto auto;
}

.about-me-container div:first-child {
    animation: slide 3s;
    text-align: center;
}

.about-me-container div:first-child img {
    border-radius: 8px;
    width: 80%;
}

.about-me-container div:last-child {
    animation: fade 3s;
    font-family: $paragraph-font;
    width: 80%;
    justify-self: center;
}

.about-me-container div:last-child h1 {
    font-family: $heading-font;
}


// * Contacts

.contacts {
    height: 100vh;
}

.contact-container i span {
    font-family: $paragraph-font;
}

.contact-container {
    margin: 0 auto;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
    height: 95vh;
}

.contact-container div:first-child {
    align-self: center;
    animation: slide 3s;
}

.contact-container div:last-child {
    animation: fade 3s;
}

.contact-link a {
    text-decoration: none;
    color: pink;
}

.contact-info {
    padding: 10px;
}

.contact-container div h1 {
    margin: 0;
}


// * Skills

.skills {
    height: 95vh;
}

.skill-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 75%;
    height: 100%;
}

.skill-header {
    animation: slide 3s;
    font-size: 3em;
    align-self: center;
    justify-self: center;
}

.skill-grid {
    animation: fade 3s;
}

.skill-grid ul {
    list-style-type: none;
}

.skill-grid ul li {
    margin-bottom: 15px;
}

.skill-grid div:last-child {
    padding: 20px;
}

#skill-text {
    display: none;
}

.skill-grid div:last-child {
    font-family: $paragraph-font;
}


// * Projects

.projects {
    height: 95vh;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}

.project-container div:first-child {
    animation: slide 3s;
    font-size: 3em;
    align-self: center;
    justify-self: center;
}

.project-container div:last-child {
    animation: fade 3s;
}

.project-container div:last-child ul {
    list-style-type: none;
}

.project-container div:last-child ul li {
    margin-bottom: 15px;
}

.project-container div:last-child ul li a {
    text-decoration: none;
    color: $heading-color;
}

#game-text, #hockey-text, #mobile-text {
    display: none;
}

.content-container div:last-child img {
    width: 60%;
    height: auto;
}

.content-container div:last-child {
    animation: fade 3s;
}

.content-container div:first-child h1 {
    animation: slide 3s;
    font-size: 3em;
    justify-self: center;
}

.content-container div:first-child {
    width: 100%;
    align-self: center;
}

.content-container div:first-child ul {
    animation: fade 3s;
    list-style-type: none;
}

.content-container div:first-child ul li a {
    text-decoration: none;
    color: $heading-color;
}

.img-container-mobile-project {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and(min-width: 900px) {

    // * Navbar

    .navbar {
        padding: 40px;
        border-bottom: 1px solid black;
        text-align: center;
    }

    .navbar a {
        text-decoration: none;
        display: inline;
        color: $heading-color;
        float: right;
        width: 10%;
        font-size: 1.4em;
    }

    .navbar a:hover {
        color: pink;
    }


    // * Homepage

    .homepage {
        height: 95vh;
        padding: 0;
    }

    .home-container ul {
        font-size: 1.3em;
    }

    .home-container ul li {
        margin-bottom: 20px;
    }

    .home-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
        height: 90%;
    }

    .home-container div:first-child {
        justify-self: center;
    }

    .home-container div h1:first-child {
        font-size: 7em;
    }


    // * About me

    .about-me-container {
        grid-template-columns: 35% 65%;
        grid-template-rows: 100%;
        align-items: center;
        justify-content: center;
        height: 90vh;
    }

    .about-me-container div:first-child img {
        width: 300px;
        height: auto;
    }

    .about-me-container div:first-child {
        align-self: center;
        justify-self: center;
    }

    .about-me-container div:last-child {
        padding: 40px;
        font-size: 1.2em;
    }

    .about-me-container div:last-child h1 {
        font-size: 2em;
    }


    // * Contacts

    .contact-container {
        width: 60%;
    }

    .contact-container i {
        margin-bottom: 10px;
        font-size: 1.5em;
    }

    .contact-container {
        height: 90vh;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .contact-container div:first-child {
        align-self: center;
        justify-self: center;
        font-size: 3em;
    }

    .contact-container div:last-child {
        align-self: center;
    }


    // * Skills

    .skills {
        height: 90vh;
    }

    .skill-container {
        height: 100%;
        grid-template-columns: 45% 55%;
        grid-template-rows: 1fr;
    }

    .skill-header {
        justify-self: center;
        align-self: center;
    }

    .skill-grid {
        align-self: center;
        display: grid;
        grid-template-columns: 33% 67%;
    }

    .skill-grid div:first-child ul {
        font-size: 1.3em;
    }

    .skill-grid div:first-child ul li span:hover {
        color: pink;
        cursor: pointer;
    }

    .skill-grid div:first-child ul li {
        margin-bottom: 20px;
    }

    .skill-grid div:last-child {
        width: 80%;
        align-self: center;
        justify-self: center;
        font-size: 1.3em;
    }


    // * Projects

    .projects {
        height: 90vh;
    }

    .project-container {
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
    }

    .project-container div:last-child {
        align-self: center;
        display: grid;
        grid-template-columns: 33% 67%;
    }

    .project-container div:last-child ul {
        font-size: 1.3em;
    }

    .project-container div:last-child ul li span:hover {
        color: pink;
        cursor: pointer;
    }

    // .content-container {
    //     display: grid;
    //     grid-template-columns: 45% 55%;
    //     height: 90vh;
    // }

    .content-container div:first-child ul {
        font-size: 1.3em;
    }

    // @mixin scroll {
    //     overflow-y: auto;
    //     overflow-x: hidden;
    //     width: auto;
    //     height: 80%;
    //     justify-self: center;
    //     align-self: center;
    // }

    // #game-scroll {
    //     @include scroll;
    // }

    // #hockey-scroll {
    //     @include scroll;
    // }

    // #mobile-scroll {
    //     @include scroll;
    // }

}