body {
  margin: 0;
  background-color: #1b1b1b;
  font-family: "Lucida Console", monospace; }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.link {
  text-decoration: none;
  cursor: pointer;
  color: dodgerblue; }

footer {
  background-color: #1b1b1b;
  color: white;
  font-family: "Lucida Console", monospace;
  padding: 10px;
  text-align: center;
  font-size: small;
  border-top: 2px solid black;
  z-index: 2; }

.content {
  background-color: #252525;
  color: white;
  padding: 10px;
  font-size: small;
  line-height: 150%; }

.content h1 {
  color: #f9d03a;
  line-height: 150%; }

.content img {
  width: 90%;
  height: auto; }

.content a {
  color: dodgerblue; }

.content ul {
  padding-left: 0;
  list-style-position: inside; }

.content li {
  color: #60b9e2;
  list-style-type: none; }

.content li:before {
  content: "- "; }

.content-container {
  min-height: 82vh;
  background-color: #252525; }

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #1b1b1b; }

.dropdown-btn {
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: medium;
  background-color: #1b1b1b;
  font-family: "Lucida Console", monospace;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  font-weight: bold; }

.dropdown-project-btn {
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: medium;
  background-color: #1b1b1b;
  font-family: "Lucida Console", monospace;
  padding: 10px;
  width: 100%; }

.dropdown-btn i, .dropdown-project-btn i {
  margin-right: 5px; }

.dropdown-content, .dropdown-projects-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #1b1b1b;
  width: 100%; }

.dropdown-content a:active {
  background-color: #4e4e4e; }

.dropdown-item, .project-item {
  padding: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white; }

.dropdown-item i {
  margin-right: 5px; }

.dropdown-item a, .project-item a {
  text-decoration: none;
  color: white; }

.project-item i {
  color: #d75d00;
  margin-right: 5px; }

.project-item {
  white-space: nowrap; }

.project-item:hover,
.dropdown-item:hover,
.dropdown-btn:hover,
.dropdown-project-btn:hover {
  background-color: #4e4e4e; }

.contact-container i {
  margin-bottom: 20px;
  color: white;
  font-size: small; }

.contact-container {
  margin-top: 30px; }

.contact-info {
  font-family: "Lucida Console", monospace;
  margin-left: 10px; }

.contact-info a:hover {
  cursor: pointer; }

.contact-info:nth-child(-n + 3) {
  color: #d75d00; }

#game-project h3, #hockey-project h3 {
  color: #d75d00; }

@media screen and (min-width: 800px) {
  footer {
    padding: 40px; }

  .content-container {
    display: grid;
    grid-template-columns: 20% 80%;
    flex-grow: 1; }

  .content {
    padding: 60px;
    border-left: 2px solid black;
    line-height: 200%; }

  .dropdown-content {
    display: block; }

  .contact-info {
    font-size: medium; }

  .contact-container i {
    font-size: 2em;
    margin-bottom: 30px; } }

/*# sourceMappingURL=style.css.map */
