@import "@/shared/styles/_variables.scss";

/* ! Navbar */
.nav-link:hover,
.nav-link a:hover {
  color: $font-color-link-hover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: $font-family-secondary;
}

.navbar-collapse {
  width: 100%;
  display: flex;
  justify-content: flex-end; 
}

.navbar-nav {
  display: flex;
  gap: 1rem; 
}

.nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}
