@import "@/common/styles/_variables.scss";

.wrapper-main-page {
    text-align: center;
    margin: 5% 0 20% 0;
    min-height: 100%;

    .first-row {
        img {
            height: 200px;
            width: auto;
            border-radius: $border-radius-xl;
            margin-top: 30px;
            animation: fade 2s;
        }
    }

    .second-row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 30px 5px;

        a {
            padding: 10px;
            &:hover {
                color: $background-shade-1;
            }
        }

        .container-wrapper-hover {
            padding: 0;
        }
    }
}

@media screen and (min-width: $breakpoint-s) {
    .wrapper-main-page {
        margin-bottom: 35%;

        .first-row {
            img {
                margin-top: 50px;
            }
        }

        .second-row {
            padding-top: 50px;
            margin-bottom: 0;
        }
    }
}

@media screen and (min-width: $breakpoint-m) {
    .wrapper-main-page {
        text-align: left;
        margin: 10% 0 20% 0;
        padding-left: 10rem;
        display: grid;
        grid-template-rows: min-content min-content;

        img {
            height: 250px;
            width: auto;
            border-radius: $border-radius-xxl;
            margin: 0 auto;
        }

        .first-row {
            display: flex;
        }

        .second-row {
            justify-content: flex-start;

            a {
                font-size: $font-size-xs;
            }
        }
    }
}