@import "@/common/styles/_variables.scss";

.wrapper-about-me-page {
    min-height: 100%;
    margin-bottom: 60%;
}

@media screen and (min-width: $breakpoint-s) {
    .wrapper-about-me-page {
        margin-bottom: 70%;
    }
}

@media screen and (min-width: $breakpoint-m) {
    .wrapper-about-me-page {
        margin-bottom: 30%;
    }
}
