@import "@/shared/styles/_variables.scss";

.wrapper-contact-info {
    color: $font-color-active;
    padding: 25px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.contact-info {
    display: flex;
    gap: 10px;

    .space {
        .wrapper-link {
            font-size: $font-size-s;
        }
    }

}

@media screen and (min-width: $breakpoint-s) {
    .wrapper-contact-info {
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }    

    .email {
        font-size: $font-size-s;
    }
    
    .wrapper-contact-info {
        padding: 0;
    }
}