<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/2a0425b1cd.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../static/style.css">
        <title>Kaisa Hakola</title>
    </head>
    <body>
        
        <div class="header">
            <h1>Kaisa Hakola</h1>
        </div>
        <div class="navbar-list">
            <a href="../index.html">Etusivu</a>
            <a href="skills.html">Taidot</a>
            <a href="projects.html">Projektit</a>
            <a href="contacts.html">Yhteystiedot</a>
            <a style="float:right" class="flag" href="#english"><img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Flag_of_the_United_Kingdom_%281806%29.svg" alt="UK flag"></a>
        </div>

        <div class="content-container" id="contacts">
            <h1>Yhteystiedot</h1>
            <div class="contact-container">
                <i class="fa-solid fa-location-dot">
                    <span class="contact-info">Tampere, Pirkanmaa, Suomi</span>
                </i>
                <br />
                <i class="fa-solid fa-envelope">
                    <span class="contact-info">kaisahakola00@gmail.com</span>
                </i>
                <i class="fa-brands fa-linkedin">
                    <span class="contact-info">
                        <a href="https://www.linkedin.com/in/khakola" target="_blank">
                            www.linkedin.com/in/khakola
                        </a>
                    </span>
                </i>
            </div>
        </div>

        <footer>
            <p>
                Tämän verkkosivun omistaa ja on luonut Kaisa Hakola. <span><a href="contacts.html">Ota yhteyttä</a></span>,  mikäli kiinnostuit töistäni. 
                Päivitetty 01/2024.
            </p>
        </footer>
    </body>
</html>