<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/2a0425b1cd.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../static/css/style.css">
        <title>Kaisa Hakola</title>
    </head>
    <body>
        
        <div class="header">
            <h1>Kaisa Hakola</h1>
        </div>
        <div class="navbar-list">
            <a href="../index.html">Etusivu</a>
            <a href="skills.html">Taidot</a>
            <a href="projects.html">Projektit</a>
            <a href="contacts.html">Yhteystiedot</a>
            <a style="float:right" class="flag" href="#english"><img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Flag_of_the_United_Kingdom_%281806%29.svg" alt="UK flag"></a>
        </div>

        <div class="content-container" id="projects">
            <h1>Projektit</h1>
            <div class="project-container" id="game-project">
                <h2>Villi Yrttiseikkailu!</h2>

                <h3>Mikä?</h3>
                <p>
                    Koulun peliprojekti, jossa rakensimme mobiilipelin. 
                </p>

                <h3>Milloin?</h3>
                <p>Keväällä 2022.</p>

                <h3>Miten?</h3>
                <p>
                    Tiimimme koostui neljästä henkilöstä, joista osan tehtävänä oli pelin ohjelmointi ja 
                    osan grafiikoiden tekeminen. Työtehtäväni projektissa oli ohjelmointi sekä 
                    verkkosivujen rakentaminen. Käytimme pelin ohjelmoinnissa Unitya ja C#-kieltä. 
                    Verkkosivut on tehty HTML/CSS tekniikoilla.
                </p>

                <img src="https://webpages.tuni.fi/21tiko2f/puhelin1.png" alt="kuvankaappaus pelistä">

                <h3>Lisätietoa</h3>
                <p>
                    Tiimimme voitti Villi Yrttiseikkailu! -pelillä parhaan pelin palkinnon yleisöäänestyksellä.
                    Peli on ladattavissa Google Play Storessa.
                </p>

                <h3>Linkkejä</h3>
                <ul>
                    <li>
                        <a href="https://webpages.tuni.fi/21tiko2f/" target="_blank">Pelin kotisivut</a>
                    </li>
                    <li>
                        <a href="https://play.google.com/store/apps/details?id=com.HortaGames.Villiyrttiseikkailu" target="_blank">Google Play Store</a>
                    </li>
                </ul>
            </div>

            <div class="project-container" id="hockey-project">
                <h2>Naiskiekko</h2>

                <h3>Mikä?</h3>
                <p>
                    Projekti, jossa rakennamme Suomen naisten jääkiekolle omat verkkosivut. Sivuilla on keskitetysti tietoa
                    suomalaisesta naisten jääkiekosta, esimerkiksi pelituloksia, joukkueiden tietoja sekä sarjataulukoita.
                    Sivuilta löytyy myös tietoa ulkomaalaisista naisten jääkiekon liigoista. 
                </p>

                <h3>Milloin?</h3>
                <p>Syksyllä 2023, jatkuu keväällä 2024.</p>

                <h3>Miten?</h3>
                <p>
                    Rakennamme projektitiimissä asiakkaalle verkkosivut, jossa käytämme seuraavia tekniikoita:
                    <ul>
                        <li>JavaScript</li>
                        <li>NodeJS</li>
                        <li>HTML/CSS</li>
                        <li>PugJS</li>
                        <li>PostgreSQL</li>
                        <li>AWS S3 Bucket</li>
                    </ul>
                    Työtehtäväni projektissa on frontend kehitys.
                </p>

                <img src="../static/images/naiskiekko-ss.png" alt="kuvankaappaus pelistä">
                <p>
                    Huom! Kuvassa näkyvät tiedot ovat testidataa, joten ne eivät ole todellisia
                    peli- tai sarjatuloksia.
                </p>

                <h3>Linkkejä</h3>
                <ul>
                    <li>
                        <a href="https://www.naiskiekko.fi" target="_blank">Naiskiekko sivut</a>
                    </li>
                </ul>
            </div>
        </div>

        <footer>
            <p>
                Tämän verkkosivun omistaa ja on luonut Kaisa Hakola. <span><a href="contacts.html">Ota yhteyttä</a></span>,  mikäli kiinnostuit töistäni. 
                Päivitetty 01/2024.
            </p>
        </footer>
    </body>
</html>