<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <title>Kaisa Hakola</title>
    </head>
    <body>
        
        <div class="header">
            <h1>Kaisa Hakola</h1>
        </div>
        <div class="navbar-list">
            <a href="../index.html">Etusivu</a>
            <a href="skills.html">Taidot</a>
            <a href="projects.html">Projektit</a>
            <a href="contacts.html">Yhteystiedot</a>
            <a style="float:right" class="flag" href="#english"><img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Flag_of_the_United_Kingdom_%281806%29.svg" alt="UK flag"></a>
        </div>

        <div>
            <p>Taidot ja työkalut</p>
        </div>
    </body>
</html>