@import "@/shared/styles/_variables.scss";

.wrapper-link-with-icon {
    margin-right: 10px;

    img {
        height: 25px;
        width: auto;
        margin-right: 5px;
    }

    a {
        color: $font-color-primary;
        text-decoration: none;
        text-align: center;

        &:hover {
            color: $font-color-non-active;
        }
    }
}